%nav#nav-home.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#bs-example-navbar-collapse-1'}
        %i.fa.fa-bars
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav.navbar-left
        -if guest_signed_in?
          %li.dropdown.menu
            %a.btn.dropdown-toggle{href: '', 'data-toggle' => 'dropdown', 'aria-expanded' => 'false'}
              Menu
              %b.caret
            %ul.menu-list.dropdown-menu{role: 'menu'}
              %li BUDGET
              %li SHOPQUIK
              %li TRACK
      %ul.nav.navbar-nav.navbar-right
        - if guest_signed_in?
          %li
            %a.name{href: ''}
              Hi, #{ current_guest.first_name } #{ current_guest.last_name }
          %li.dropdown.logout
            %a.btn.dropdown-toggle{href: '', 'data-toggle' => 'dropdown', 'aria-expanded' => 'false'}
              %b.caret
            %ul.logout-link.dropdown-menu{role: 'menu'}
              %li.text-center= link_to 'LOGOUT', destroy_guest_session_path, method: :delete
        - else
          %li.register
            %a.btn{type: 'button', 'data-toggle' => 'modal', 'data-target' => '#registerModal'}
              Register
          %li.dropdown.login
            %a.btn.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown', 'aria-expanded' => 'false'}
              Login
              %b.caret
            %ul#dropdown-login.dropdown-menu{role: 'menu'}
              %h2 My Account
              = form_for("guest", url: guest_session_path) do |f|
                %li
                  .form-group
                    .login-input= f.email_field :email, autofocus: true, placeholder: 'E-mail', class: 'form-control'
                %br/
                %li
                  .form-group
                    .login-input= f.password_field :password, autocomplete: 'off', placeholder: 'Password', class: 'form-control'
                %br
                %li.login-btn
                  .btn= f.submit 'LOG IN'

#registerModal.modal.fade{tabindex: '-1', role: 'dialog', 'aria-labelledby' => 'registerModalLabel', 'aria-hidden' => 'true'}
  .modal-dialog
    .modal-content.register-modal
      .modal-header
        %btn.close{type: 'button', 'data-dismiss' => 'modal', 'aria-label' => 'Close'}
          %span{'aria-hidden' => true} &times;
        %h2.text-center Create An Account
      .modal-body
        .container-fluid
          .row
            .col-md-7.create-form
              = form_for('guest', url: registration_path('guest')) do |f|
                .form-group
                  =f.text_field :first_name, autofocus: true, placeholder: 'First Name', class: 'form-control'
                %br/
                .form-group
                  = f.text_field :last_name, placeholder: 'Last Name', class: 'form-control'
                %br/
                .form-group
                  = f.select(:sex, [['Male', 'Male'], ['Female', 'Female']], {}, {class: 'form-control'})
                .form-group
                  .form-inline
                    = f.date_select(:birthday, {start_year: 1900}, {class: 'form-control'})
                %br/
                .form-group
                  = f.text_field :image, placeholder: 'Paste a link to your picture', class: 'form-control'
                %br/
                %br/
                .form-group
                  = f.text_field :username, placeholder: 'Username', class: 'form-control'
                %br/
                .form-group
                  = f.email_field :email, placeholder: 'E-mail', class: 'form-control'
                .form-group
                  - if @minimum_password_length
                    %em
                      (#{@minimum_password_length} characters minimum)
                %br/
                .form-group
                  = f.password_field :password, autocomplete: 'off', placeholder: 'Password', class: 'form-control'
                %br/
                .form-group
                  = f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'Confirm Password', class: 'form-control'
                %br/
                .create-btn
                  .btn
                    %input{type: 'button', 'data-dismiss' => 'modal', value: 'Cancel'}
                  .btn.pull-right
                    = f.submit 'CREATE'
            .col-md-4.auth-login.text-center
              %h5 Or Login with...
              = link_to(guest_omniauth_authorize_path(:google_oauth2), class: 'google-btn') do
                .btn-social.btn-google-plus
                  %i.fa.fa-google-plus
                  Google
              %h5 or
              = link_to(guest_omniauth_authorize_path(:facebook), class: 'facebook-btn') do
                .btn-social.btn-facebook
                  %i.fa.fa-facebook
                  Facebook