%nav#nav-home.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#bs-example-navbar-collapse-1'}
        %i.fa.fa-bars
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav.navbar-right
        - if !guest_signed_in?
          %li.register
            %a.btn{type: 'button', 'data-toggle' => 'modal', 'data-target' => '#registerModal'}
              Register
          %li.dropdown.login
            %a.btn.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown', 'aria-expanded' => 'false'}
              Login
              %b.caret
            %ul#dropdown-login.dropdown-menu{role: 'menu'}
              %h2 My Account
              = form_for("guest", url: guest_session_path) do |f|
                %li
                  .form-group
                    .input-group
                      %span.input-group-addon
                        %i.fa.fa-envelope-o.fa-fw
                      .login-input= f.email_field :email, autofocus: true, placeholder: 'E-mail', class: 'form-control'
                %br
                %li
                  .form-group
                    .input-group
                      %span.input-group-addon
                        %i.fa.fa-key.fa-fw
                      .login-input= f.password_field :password, autocomplete: 'off', placeholder: 'Password', class: 'form-control'
                %br
                %li.login-btn
                  .btn= f.submit 'LOG IN'

              .col-md-12.auth-dropdown-login.text-center
                %h5 Or Login with...
                = link_to(guest_omniauth_authorize_path(:google_oauth2), class: 'google-btn') do
                  .login-social.btn-google-plus
                    Google
                %h5 or
                = link_to(guest_omniauth_authorize_path(:facebook), class: 'facebook-btn') do
                  .login-social.btn-facebook
                    Facebook
          %li
            %a#menu-toggle.btn.btn-light.btn-lg.toggle{href: '#'}
              %i.fa.fa-bars
            %nav#sidebar-wrapper
              %ul.sidebar-nav
                %a#menu-close.btn.btn-dark.btn-lg.pull-right.toggle{href: '#'}
                  %i.fa.fa-times
                %li.sidebar-brand
                  %a{href: "#top", onclick: "$(\"#menu-close\").click();"} Forecast
                %li
                  %a{:href => "#about", :onclick => "$(\"#menu-close\").click();"}
                    About

= render 'register_modal'