= render 'shared/navbar'
#shopquik.container-fluid
  .row
    .col-md-3
      #profile.col-md-11
        = render 'shared/guest_profile'
      .col-md-1
    #my-shopping-list.col-md-8
      %h2.text-center My Shopping List
      #month-list.col-md-6
        #month-list-inner
          %h3.text-center Select Month
          .table-responsive
            %table.table.table-condensed.table-hover
              %thead
                %tr
                  %th List
                  %th Edit
                  %th Delete
              %tbody
                - @todo_lists.each do |td_list|
                  %tr
                    %td= link_to td_list.title, td_list, remote: true
                    %td
                      = link_to edit_shopquik_todo_list_path(td_list), remote: true do
                        %i.fa.fa-pencil-square-o{"data-toggle" => "tooltip", "data-placement" => "top", title: "Edit List"}
                    %td
                      = link_to shopquik_todo_list_path(td_list), method: :delete, data: { confirm: "You're about to delete a list. Are you sure?" } do
                        %i.fa.fa-trash-o{"data-toggle" => "tooltip", "data-placement" => "right", title: "Delete List"}
          .create-new-list.text-center
            = link_to new_shopquik_todo_list_path, remote: true do
              .btn
                CREATE NEW LIST

      #list-items.col-md-6
        #list-items-inner.text-center
          %h3 Click a list to see and add items.

#newListModal.modal.fade{role: 'dialog', 'aria-labelledby' => "myModalLabel"}

:javascript
  $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
  });