= render 'home/nav_home'
= render 'shared/notification'
%h5 If you're here, then you made it to ShopQuik todo_lists index page!

#my-shopping-list
  %h2 My Shopping List
  #month-list
    %h3 Select Month
    - @todo_lists.each do |td_list|
      = link_to td_list.title, td_list, remote: true
      %p= td_list.description

    = link_to 'CREATE NEW LIST', new_shopquik_todo_list_path, remote: true

  #list-items
    %p Click a list to see and add items to the list.

#newListModal.modal.fade{role: 'dialog', 'aria-labelledby' => "myModalLabel"}