= render 'shared/navbar'
= render 'shared/notification'
.container-fluid
  .row
    #my-shopping-list.col-md-12
      %h2 My Shopping List
      #month-list.col-md-6
        %h3 Select Month
        - @todo_lists.each do |td_list|
          %ul.lists
            %li
              %h4= link_to td_list.title, td_list, remote: true
            %li{"data-toggle" => "tooltip", "data-placement" => "top", title: "Edit List"}
              = link_to edit_shopquik_todo_list_path(td_list), remote: true do
                %i.fa.fa-pencil-square-o
            %li{"data-toggle" => "tooltip", "data-placement" => "right", title: "Delete List"}
              = link_to shopquik_todo_list_path(td_list), method: :delete, data: { confirm: "You're about to delete a list. Are you sure?" } do
                %i.fa.fa-trash-o

        %span{"data-toggle" => "tooltip", "data-placement" => "bottom", title: "Create A New List"}
          = link_to new_shopquik_todo_list_path, remote: true do
            %i.fa.fa-list-ol
              CREATE NEW LIST

      #list-items.col-md-6
        %p Click a list to see and add items to the list.

#newListModal.modal.fade{role: 'dialog', 'aria-labelledby' => "myModalLabel"}

:javascript
  $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
  });