= render 'shared/navbar'
.container-fluid
  .row
    .col-md-3
      #profile.col-md-11
        = render 'shared/guest_profile'
      .col-md-1
    .col-md-8
      #monthly-earnings.col-md-6
        %h1.text-center Monthly Earnings
        = render partial: 'new'
        .earnings
          - @monthly_earnings.each do |me|
            %ul
              %li= wordify_date
              %li= me.earning
              -#%li= link_to 'Edit', edit_budgets_monthly_earnings_path(me)

      #balance-summary.col-md-6
        %p Let's get this show running...