<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Forecast - Have more than thou showest, speak less than thou knowest. ">
  <meta name="author" content="Fiyin Adebayo">

  <%= favicon_link_tag 'forecast_fav.png' %>

  <title>Forecast</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body <%= " id=#{@home_in_id} " if guest_signed_in? %> <%= " id=#{@home_id} " unless guest_signed_in? %>>
  <%= yield %>
</body>
</html>